<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47603181237-cfodd8c842o1nf4qudrhm0ice817ltd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47603181237-cfodd8c842o1nf4qudrhm0ice817ltd9</string>
	<key>API_KEY</key>
	<string>AIzaSyDeYpG59kKSak6_8t1RbT6EOLxkg-fjrHg</string>
	<key>GCM_SENDER_ID</key>
	<string>47603181237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kwemrj.salamtak.salamtak</string>
	<key>PROJECT_ID</key>
	<string>salamtak-kwemrj</string>
	<key>STORAGE_BUCKET</key>
	<string>salamtak-kwemrj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47603181237:ios:5e811cc0c65ac24231c0fc</string>
</dict>
</plist>